Repository MicrosoftDocs/OfficeDocs-DeployOffice, pull requests merged in 2022-01, with the labels that each got.

#1046 Update roadmap-to-modern-management.md
  DeployOffice/fieldnotes/roadmap-to-modern-management.md
Labels: Office deployment expert

#1051 Update performance-recommendations.md
  DeployOffice/fieldnotes/performance-recommendations.md
Labels: Microsoft submitter, Office deployment expert

#1052 Update overview-office-cloud-policy-service.md
  DeployOffice/admincenter/overview-office-cloud-policy-service.md
Labels: Microsoft submitter
